<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</head>
<body class="bg-light">
<div class="navbar navbar-light bg-light navbar-expand-sm fixed-top py-3">
    <div class="container-fluid">

        @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> *@
        @*     <span class="navbar-toggler-icon"></span> *@
        @* </button> *@

        @* <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: space-between"> *@
        @*     <a href="@Url.Action("Index","Notes")" class="d-none d-sm-inline-block"><img src="/Content/Images/logo.svg"  height="50px;"/></a> *@
        @*     <form class="d-flex"> *@
        @*         <input class="form-control" type="search" placeholder="Search" aria-label="Search"> *@
        @*     </form> *@
        @*     @Html.Partial("_LoginPartial") *@
        @* </div> *@
        <a href="@Url.Action("Index","Notes")" class="d-none d-sm-inline-block"><img src="/Content/Images/logo.svg"  height="50px;"/></a>
        <form class="d-flex">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        @Html.Partial("_LoginPartial")
    </div>
</div>
<main class="h-100">
    @RenderBody()
</main>


@RenderSection("scripts", required: false)
</body>
</html>