@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using PinboardApp.Models
@model PinboardApp.Models.Pinboard

@{
    ViewBag.Title = "Index";
    ApplicationUser user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(HttpContext.Current.User.Identity.GetUserId());
}

<div class="container-fluid d-flex flex-row" style="height: 100%">
    <div style="width: 20%" class="d-flex flex-column justify-content-between">
        @if (user.Pinboards is null || user.Pinboards.Count == 0)
        {
            <p>No pinboards. Start by creating one</p>
        }
        else
        {
            <ul class="nav nav-pills flex-column">
                @foreach (var item in user.Pinboards)
                {
                <li class="nav-item d-flex flex-row justify-content-between">
                    @Ajax.ActionLink(item.Name, "Index", "Notes", new { id = item.ID }, new AjaxOptions
                    {
                        UpdateTargetId = "notes",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    }, new { @class = "nav-link" })

                    <a href="@Url.Action("Delete","Pinboards",new {id = item.ID})" class="delete-button py-2 px-5">
                        <i class="bi bi-trash text-danger"></i>
                    </a>
                </li>
                }
            </ul>
        }
        
    <button class="btn" id="new-pinboard"><i class="bi bi-plus-circle"></i> New Pinboard</button>
    </div>
    <div id="notes" style="background: #d2dadd; width: 80%; border-radius: 1rem 0 0 0" class="p-3 position-relative">
        @if (Model is null)
        {
            <h3>No Pinboard selected</h3>
        }
        else
        {
            <h2>Notes in Pinboard @Model.Name </h2>


            @* @Html.ActionLink("Create New", "Create", new { id = Model.ID }) *@
            <button class ="btn position-fixed end-0 bottom-0 m-5 p-2" id="new-note" style="color: #FFF5F0; background: #a17c6b"><i class="bi bi-plus-circle"></i> New Note</button>

            foreach (var note in Model.Notes)
            {
                <div class="card position-absolute draggable-note" id="@note.ID" style="width: 18rem; left: @note.X ; top:@note.Y;">
                    <div class="card-body">
                        <h5 class="card-title">@note.Name</h5>
                        <p class="card-text">@note.Data</p>
                        <a href="@Url.Action("Delete","Notes",new {id = note.ID})" class="delete-button">
                            <i class="bi bi-trash text-danger"></i>
                        </a>
                    </div>
                </div>
            }
        }

    </div>

</div>
@section scripts
{
    <script>
        $(function() {
            var loop = false;
            $('#new-note').click(function() {
                window.location.href = '@Url.Action("Create", "Notes", new { id = Model.ID })';
            });
            $('#new-pinboard').click(function() {
                window.location.href = '@Url.Action("Create", "Pinboards")'
            });
//            $('.draggable-note').mousedown(function (e) {
//                var parent = $('#notes')[0];
//                var rect = parent.getBoundingClientRect();
//
//                this.style.left = (e.pageX - rect.left) + 'px';
//                this.style.top = (e.pageY - rect.top) + 'px';
//            });
            $('.draggable-note').draggable({
                containment: 'parent'
            });
            

            $('.draggable-note').mouseup(function() {
                var obj = {
//                    "ID": this.id,
                    "X": this.style.left,
                    "Y": this.style.top
                }
                console.log(JSON.stringify(obj));
                $.ajax({
                    type: 'post',
                    url: '/Notes/UpdatePosition/'+this.id,
                    dataType:'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(obj ),
                    success: function(obj) {
                        console.log("Successfully pushed position" + obj);
                    },
                    failure: function(obj) {
                        console.log("Failed pushing position" + obj);
                    }
                })
            })

        });
    </script>
}
